@import "../custom-bootstrap/custom-bootstrap.less";
@import "../font-awesome/font-awesome.less";
@import "../less/plugins/jquery.jqplot.min.css";
@import "../less/plugins/handsontable.full.min.css";

@media(min-width: @screen-sm) {
	// Tablet Size
}
@media(min-width: @screen-md) {
	// Desktops

}
.noselect() {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

// ##################
// 	   HTML & Body
// ##################
body {
	padding-top: 50px; 
}

// ##################
// 	    Container
// ##################

// ##################
// 		 Links
// ##################

// ##################
// 		 Images
// ##################

// ##################
// 	   Headlines
// ##################

// ##################
// 		 Header
// ##################
nav.navbar.navbar-default.navbar-fixed-top {
	.container>div {.make-row();}
	background: #666666;
	color: white;
	a {
		padding: 14px 0;
		color: white;
		text-decoration: none;
		margin: 0 auto;
		text-align: center;
		border-left: 1px solid #999;
		&:last-of-type {
			border-right: 1px solid #999;
		}
		&:hover {
			background: rgba(0,0,0,0.3);
		}
		i {
			margin-right: 1em;
		}
	}
	#app-title {
		.make-sm-column(6);
		font-weight: bold;
		padding-top: 14px;
	}
	#stats-link {
		.make-sm-column(3);
	}
	#user-settings {
		.make-sm-column(3);
	}
}

// ##################
//    Main Content
// ##################
#main {
	.make-row();
	#schedule {
		.make-sm-column(9);
		padding-top: 50px;
		
		#optimization-notice {
			padding: 70px 25px 25px 25px;
			margin-top: -50px;
			background: #f4d9d9;
			.make-row();
			#profit {
				font-size: 1.4em;
				font-weight: bold;
				display: inline-block;
				#added-profit {
					color: green;
				}
			}
			form {
				.form-inline();
				display: inline-block;
				float: right;
				button {
					width: auto;
					display: inline;
					&:first-of-type {
						margin-right: 30px;
					}
				}
			}
			p {
				margin-top: 2em;
				font-weight: bold;
			}

		}
	}
	#sidebar {
		.make-sm-column(3);
		padding-top: 50px;
		height: 100%;
		border-left: 1px solid #999;
		h3 {
			margin-top: 2em;
		}
		form {
			>div {
				.form-group();
			}
			select, input {.form-control();}
		}
	}
	p.hint {
		color: #666;
	}
}

button {
	padding: 5 30px;
	&.confirm {
		.form-control();
		background: green;
		color: white;
		border: 1px solid #999;
		padding-left: 30px;
		padding-right: 30px;
	}
	&.reject {
		.form-control();
		background: #C00;
		color: white;
		border: 1px solid #999;
		padding-left: 30px;
		padding-right: 30px;
	}
}

// ##################
//       Graph
// ##################
.jqplot-target {
	height: 400px;
	.noselect
}
.jqplot-cursor-tooltip {
	font-size: 1em;
	border-width: 2px;
	//.noselect;
}

// ##################
//     Data Grid
// ##################
#data-grid {
	max-height: 400px;
	overflow-y: scroll;
	width: 100%;
}
#formula {
	margin: 10px 0;
}
#formula label {
	display: block;
	float: left;
	width: 40px;
	height: 35px;
	content: '';
	font-weight: bold;
	background: rgb(200,200,200);
	text-align: center;
	padding-top: 8px;
	
}
#data-formula {
	text-align: right;
	height: 35px;
	width: 155px;
	border:1px solid rgb(200,200,200);
	padding: 8px;
}
#execute-formula {
	padding:5px 15px;
}